/* Utils */
@import url("utils/variables.css");

/* Vendors */
@import url("vendors/normalize.css");

/* Base */
@import url("base/reset.css");
@import url("base/typography.css");
@import url("base/main.css");
@import url("base/media.css");

/* Layout */
@import url("layout/header.css");
@import url("layout/menu.css");
@import url("layout/footer.css");

/* Components */
@import url("components/boutons.css");
@import url("components/section.css");
@import url("components/article.css");
@import url("components/carrousel.css");
@import url("components/formulaire.css");
@import url("components/page404.css");
@import url("components/frise.css");

